{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#post}}

        {{#contentFor "meta"}}
            <meta property="og:title" content="{{title}} - Mike Nieva" />
            <meta property="og:site_name" content="{{@blog.title}}" />
            <meta property="og:description" content="{{excerpt characters="220"}}..."/>
            <meta property="og:image" content="{{@blog.url}}{{image}}">
            <meta property="article:author" content="https://facebook.com/mikenieva" />
            <meta property="article:published_time" content="{{date format="YYYY-MM-DD"}}" />{{#foreach tags}}
            <meta property="article:tag" content="{{name}}" />{{/foreach}}
            <meta property="fb:profile_id" content="mikenieva" />
            <meta property="fb:admins" content="mikenieva" />
        {{/contentFor}}

    <section>
        <header class="main">
            <h1>{{title}}</h1>
        </header>
        <span class="image main"><img src="{{image}}" alt="" /></span>

        <div class="block-socialbuttons">
            <div class="socialbutton facebookbutton" style="text-align:center; margin-bottom: 50px; margin-top: 25px;">
            <div class="fb-share-button" data-href="{{url}}" data-layout="button_count" data-mobile-iframe="true"></div>
            </div>
        </div>
        <div class="post-content">
            {{content}}
        </div>
    </section>

  {{! Discuss Comment Integration}}
                    <div class="fb-comments" data-href="{{url absolute="true"}}" data-numposts="15" data-colorscheme="light" data-width="100%"></div>

                     {{! Discuss Comment Integration}}
                    <section class="post-comment">
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            var disqus_shortname = 'miguelnieva'; // required: replace example with your forum shortname
                            var disqus_identifier = '{{post.id}}'; // make sure to use the post.id as an identifier, otherwise disqus will use the pages url per default, which might be problematic...

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">Leave a Reply <span class="logo-disqus"></span></a>
                    </section> <!-- Discuss Comment End -->
                    


{{/post}}                                